# OS-specific cloudflared path
{{- $cloudflared := "/usr/bin/cloudflared" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $cloudflared = "/opt/homebrew/bin/cloudflared" }}
{{- end }}

# Default SSH user
{{- $ssh_user := .chezmoi.username }}

Host github.com
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_ed25519_inspironkali

Host gcp
  IdentityFile ~/.ssh/id_ed25519_inspironkali
  HostName gcp.phillias.us

Host ora
  IdentityFile ~/.ssh/id_ed25519_inspironkali
  HostName ora.phillias.us
  User ubuntu

Host primary55522
  IdentityFile ~/.ssh/id_ed25519_kali
  IdentityFile ~/.ssh/id_ed25519_inspironkali
  HostName primary55522.phillias.cc
  ProxyCommand {{ $cloudflared }} access ssh --hostname %h
  User ubuntu

Host kali
  IdentityFile ~/.ssh/id_ed25519_inspironkali
  IdentityFile ~/.ssh/id_ed25519_memgit
  HostName kali.phillias.us
  ProxyCommand {{ $cloudflared }} access ssh --hostname %h
  User phillias

Host kalione
  IdentityFile ~/.ssh/id_ed25519_inspironkali
  IdentityFile ~/.ssh/id_ed25519_memgit
  HostName ssh.phillias.org
  ProxyCommand {{ $cloudflared }} access ssh --hostname %h
  User phillias

# Cloudflare Tunnel SSH keepalive - prevent Gateway 270s idle timeout
Host *cloudflared* *
  ServerAliveInterval 30
  ServerAliveCountMax 3
  TCPKeepAlive yes
